<div class="file-input-box">
  <div *ngIf="!selectedFile" class="wrapper-file-input">
    <div class="input-box" (click)="openFileInput(fileInput)">
      <h4>
        <i class="fa-solid fa-folder-open me-2"></i>
        Choose File to upload
      </h4>
      <input #fileInput type="file" hidden (change)="handleFileChange($event)" [multiple]="false" />
    </div>
    <small>Files Supported: ZIP</small>
  </div>

  <div *ngIf="selectedFile" class="wrapper-file-section">
    <div class="selected-files">
      <label>Select File</label>
      <ul class="file-list" [style.maxHeight]="selectedFile ? '220px' : 'auto'">
        <li class="item">
          <span class="name">
            {{ selectedFile.name }} ({{ formatFileSize(selectedFile.size) }})
          </span>
          <div class="remove" (click)="removeFile()">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
