<footer id="footer" class="row p-5">
  <div class="col-3">
    <img src="assets/verticale_blu.png" alt="Logo" width="auto" height="90" class="d-inline-block align-text-top mb-5">
    <p class="mb-1">Made with <span style="color: #BA6573;">❤</span> by us</p>
    <p class="mb-0" style="color: #818181; font-size: smaller">2024 © All Rights Reserved</p>
  </div>
  <div class="card-box col-4">
    <h4>Emanule Ielo</h4>
    <span>AI Developer</span>
    <div class="d-flex justify-content-center mt-5">
      <a href="https://codepen.io/Juxtopposed" target="_blank" class="mx-2"><i class="fa-brands fa-instagram fa-2x"></i></a>
      <a href="https://codepen.io/Juxtopposed" target="_blank" class="mx-2"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
    </div>
  </div>
  <div class="card-box col-4">
    <h4>Gianluca Nobile</h4>
    <span>Front-End Developer</span>
    <div class="d-flex justify-content-center mt-5">
      <a href="https://codepen.io/Juxtopposed" target="_blank" class="mx-2"><i class="fa-brands fa-instagram fa-2x"></i></a>
      <a href="https://codepen.io/Juxtopposed" target="_blank" class="mx-2"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
    </div>
  </div>
  <div class="backdrop"></div>
</footer>
